includes:
	- vendor/21torr/janus/phpstan/lib.neon

parameters:

# If you use simple-phpunit, you need to uncomment the following line.
# Always make sure to first run simple-phpunit and then PHPStan.
#	bootstrapFiles:
#		- vendor/bin/.phpunit/phpunit/vendor/autoload.php

# These are temporarily copied here, as normally they should be in the lib.neon of janus.
# However, due to a bug in PHPStan, this currently doesn't work (https://github.com/phpstan/phpstan/issues/12844)
	excludePaths:
		analyse:
			- vendor
		analyseAndScan:
			- node_modules (?)
			- var (?)
			- vendor-bin

	ignoreErrors:
		# @todo remove these ignores in 5.x
		-
			message: '#Parameter \$deployContainerHooks of method (.*?) deprecated interface Torr\\Hosting\\Deployment\\DeployHookInterface:#'
			identifier: parameter.deprecatedInterface
			path: src/Deployment/HookRunners.php
			count: 1
		-
			message: '#Call to method getLabel\(\) of deprecated interface Torr\\Hosting\\Deployment\\DeployHookInterface:#'
			identifier: method.deprecatedInterface
			path: src/Deployment/HookRunners.php
			count: 1
		-
			message: '#Call to method runPostDeployment\(\) of deprecated interface Torr\\Hosting\\Deployment\\DeployHookInterface:#'
			identifier: method.deprecatedInterface
			path: src/Deployment/HookRunners.php
			count: 1
